# Wrangling and Analysis project
> Authored by: **Abhishek Pandey** [LinkedIn](https://www.linkedin.com/in/abhishekpandeyit/) | [Twitter](https://twitter.com/PandeyJii_)

In [2]:
# Importing all required libraries
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import re
import requests #For gathering data from website
import seaborn as sns
import tweepy
from datetime import datetime
from functools import reduce
%matplotlib inline

# Gathering Data

### This template to gather data from Twitter API is provided by [Udacity](www.Udacity.com). I am just using that template as mentioned in the Udacity workspace using my secret token and access tokens.

In [3]:
df_tweet = pd.read_csv('F:/Github_repo/Wrangle_Analyse_Dataset/twitter-archive-enhanced-2.csv')

In [4]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv' 
response = requests.get(url)
with open(os.path.join('image_predictions.tsv'), mode = 'wb') as file:
    file.write(response.content)

In [5]:
images = pd.read_csv('F:/Github_repo/Wrangle_Analyse_Dataset/image_predictions.tsv', sep = '\t')

In [ ]:
API_key = '0Z0ZK59KSOUWYr1X7qIRY9NHx'
API_secret_Key = 'QxaSSKis3VdPIrIjdGhuGEa3DYO0i3LbyTuOwixWcA3cFScgqC'
access_token = '1257973204804612097-ttKDEV6otnE8W8aHzlsxNg8iaWL8Wm'
access_secret = '4bFOojkL6Q6eEEl0kTRVo6ZwJdGo9Y168CKAqy0e6yWor'

auth = tweepy.OAuthHandler(API_key, API_secret_Key)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [ ]:
# Using twitter Twitter API to collect the status data on tweets present in dataframe
tweet_ids = list(twitter1['tweet_id'])

tweet_data = []
tweet_id_success = []
tweet_id_missing = []
for tweet_id in tweet_ids:
    try:
        data = api.get_status(tweet_id, 
                              tweet_mode='extended',
                              wait_on_rate_limit = True,
                              wait_on_rate_limit_notify = True)
        tweet_data.append(data)
        tweet_id_success.append(tweet_id)
    except:
        tweet_id_missing.append(tweet_id)
        print(tweet_id)

In [ ]:
# Write tweet data to json file
with open('tweet_json.txt', mode = 'w') as file:
    json.dump(tweet_data, file)

In [94]:
# Loading Twitter API data
df_new = pd.read_json('F:\\Github_repo\\Wrangle_Analyse_Dataset\\tweet-json', lines=True)
#df_new['tweet_id'] = tweet_id_success
df_new = df_new[['tweet_id', 'favorite_count', 'retweet_count']]

KeyError: "['tweet_id'] not in index"

In [91]:
df_tweet.sample(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2283,667200525029539841,NaN,NaN,2015-11-19 04:39:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Joshwa. He is a fuckboy supreme. He cl...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667200525...,11,10,Joshwa,None,None,None,None
1288,708349470027751425,NaN,NaN,2016-03-11 17:50:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is River. He's changing the trumpet game....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/708349470...,11,10,River,None,None,None,None
1139,728015554473250816,NaN,NaN,2016-05-05 00:16:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Rueben. He has reached ultimate pupper...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/728015554...,11,10,Rueben,None,None,pupper,None

In [8]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
df_tweet['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [10]:
df_tweet['text'].value_counts()

RT @dog_rates: Meet Sammy. At first I was like "that's a snowflake. we only rate dogs," but he would've melted by now, so 10/10 https://t.c…    1
Marvelous dog here. Rad ears. Not very soft. Large tumor on nose. Has a pet rock. Good w kids. 6/10 overall neat pup https://t.co/g5YkRqP0dg    1
This is Pancake. She loves Batman and winks like a h*ckin champ. 12/10 real crowd pleaser https://t.co/6kqsAjJNhi                               1
This is Teddy. His head is too heavy. 13/10 (vid by @jooanrim) https://t.co/sRUpRpGZ3y                                                          1
This is Coco. She gets to stay on the Bachelor for another week. Super pumped 11/10 https://t.co/wsCB6LFNxD                                     1
                                                                                                                                               ..
Meet Trip. He likes wearing costumes that aren't consistent with the season to screw with people 10/10 tricky pupper https://t.co/40w7TI5Axv    1
After getting lost in Reese's eyes for several minutes we're going to upgrade him to a 13/10                                                    1
RT @dog_rates: This is Timison. He just told an awful joke but is still hanging on to the hope that you'll laugh with him. 10/10 https://t.…    1
RT @dog_rates: This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX      1
This is Seamus. He's very bad at entering pools. Still a very good boy tho 11/10 https://t.co/hfi264QwYM                                        1
Name: text, Length: 2356, dtype: int64

In [11]:
df_tweet['retweeted_status_id'].value_counts()

7.757333e+17    1
7.507196e+17    1
6.742918e+17    1
6.833919e+17    1
8.269587e+17    1
               ..
7.848260e+17    1
7.806013e+17    1
8.305833e+17    1
7.047611e+17    1
7.331095e+17    1
Name: retweeted_status_id, Length: 181, dtype: int64

In [12]:
df_tweet['retweeted_status_user_id'].value_counts()

4.196984e+09    156
4.296832e+09      2
5.870972e+07      1
6.669901e+07      1
4.119842e+07      1
7.475543e+17      1
7.832140e+05      1
7.266347e+08      1
4.871977e+08      1
5.970642e+08      1
4.466750e+07      1
1.228326e+09      1
7.992370e+07      1
2.488557e+07      1
7.874618e+17      1
3.638908e+08      1
5.128045e+08      1
8.117408e+08      1
1.732729e+09      1
1.960740e+07      1
1.547674e+08      1
3.410211e+08      1
7.124572e+17      1
2.804798e+08      1
1.950368e+08      1
Name: retweeted_status_user_id, dtype: int64

In [13]:
df_tweet['retweeted_status_timestamp'].value_counts()

2016-08-28 16:51:16 +0000    1
2016-10-23 00:27:05 +0000    1
2016-09-02 18:03:10 +0000    1
2016-09-28 00:46:20 +0000    1
2016-07-06 15:54:42 +0000    1
                            ..
2016-11-09 00:37:46 +0000    1
2016-05-28 03:04:00 +0000    1
2017-05-27 19:39:34 +0000    1
2016-08-11 20:40:41 +0000    1
2016-11-19 19:55:41 +0000    1
Name: retweeted_status_timestamp, Length: 181, dtype: int64

In [14]:
df_tweet['expanded_urls'].value_counts()

https://twitter.com/dog_rates/status/667866724293877760/photo/1                                     2
https://twitter.com/dog_rates/status/839549326359670784/photo/1                                     2
https://www.gofundme.com/3yd6y1c,https://twitter.com/dog_rates/status/878281511006478336/photo/1    2
https://twitter.com/dog_rates/status/767754930266464257/photo/1                                     2
https://twitter.com/dog_rates/status/739238157791694849/video/1                                     2
                                                                                                   ..
https://twitter.com/dog_rates/status/672245253877968896/photo/1                                     1
https://twitter.com/dog_rates/status/673213039743795200/photo/1                                     1
https://twitter.com/dog_rates/status/714631576617938945/photo/1                                     1
https://twitter.com/dog_rates/status/674632714662858753/photo/1                                     1
https://twitter.com/deadspin/status/806570933175652352                                              1
Name: expanded_urls, Length: 2218, dtype: int64

In [15]:
df_tweet['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [16]:
df_tweet['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [17]:
df_tweet['name'].value_counts()

None          745
a              55
Charlie        12
Oliver         11
Lucy           11
             ...
Chesterson      1
Chef            1
this            1
Christoper      1
Lillie          1
Name: name, Length: 957, dtype: int64

In [18]:
df_tweet['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [19]:
df_tweet['floofer'].value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [20]:
df_tweet['pupper'].value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [21]:
df_tweet['puppo'].value_counts()

None     2326
puppo      30
Name: puppo, dtype: int64

In [79]:
df_tweet.loc[df_tweet['name'].str.isupper()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
775,776201521193218049,NaN,NaN,2016-09-14 23:30:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is O'Malley. That is how he sleeps. Doesn...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/776201521...,10,10,O,None,None,None,None
2041,671542985629241344,NaN,NaN,2015-12-01 04:14:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is JD (stands for ""just dog""). He's like ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/671542985...,10,10,JD,None,None,None,None

In [80]:
df_new.sample(10)

NameError: name 'df_new' is not defined

In [24]:
df_new.info()

NameError: name 'df_new' is not defined

In [25]:
df_new['tweet_id'].value_counts()

NameError: name 'df_new' is not defined

In [26]:
df_new['favorite_count'].value_counts()

NameError: name 'df_new' is not defined

In [27]:
df_new['retweet_count'].value_counts()

NameError: name 'df_new' is not defined

In [28]:
images.sample(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
427,674255168825880576,https://pbs.twimg.com/media/CVtvf6bWwAAd1rT.jpg,1,Eskimo_dog,0.615741,True,Siberian_husky,0.199544,True,malamute,0.179107,True
1932,859196978902773760,https://pbs.twimg.com/ext_tw_video_thumb/85919...,1,Angora,0.224218,False,malamute,0.216163,True,Persian_cat,0.128383,False

In [29]:
images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [30]:
images['tweet_id'].value_counts()

685532292383666176    1
826598365270007810    1
692158366030913536    1
714606013974974464    1
715696743237730304    1
                     ..
816829038950027264    1
847971574464610304    1
713175907180089344    1
670338931251150849    1
700151421916807169    1
Name: tweet_id, Length: 2075, dtype: int64

In [31]:
images['jpg_url'].value_counts()

https://pbs.twimg.com/media/ChK1tdBWwAQ1flD.jpg                                            2
https://pbs.twimg.com/ext_tw_video_thumb/817423809049493505/pu/img/5OFW0yueFu9oTUiQ.jpg    2
https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg                                            2
https://pbs.twimg.com/media/CkjMx99UoAM2B1a.jpg                                            2
https://pbs.twimg.com/media/Cbs3DOAXIAAp3Bd.jpg                                            2
                                                                                          ..
https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg                                            1
https://pbs.twimg.com/media/CWPKSGpWcAQN6mw.jpg                                            1
https://pbs.twimg.com/media/CVg0SVRWEAAsBrS.jpg                                            1
https://pbs.twimg.com/media/CmZqIslWIAQFiqe.jpg                                            1
https://pbs.twimg.com/media/CVlOy3pW4AQ9H1K.jpg                                            1
Name: jpg_url, Length: 2009, dtype: int64

In [32]:
images['img_num'].value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [33]:
images['p1'].value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
killer_whale            1
quilt                   1
earthstar               1
ice_lolly               1
microwave               1
Name: p1, Length: 378, dtype: int64

In [34]:
images['p1_conf'].value_counts()

0.366248    2
0.713293    2
0.375098    2
0.636169    2
0.611525    2
           ..
0.713102    1
0.765266    1
0.491022    1
0.905334    1
1.000000    1
Name: p1_conf, Length: 2006, dtype: int64

In [35]:
images['p1_dog'].value_counts()

True     1532
False     543
Name: p1_dog, dtype: int64

In [36]:
images['p2'].value_counts()

Labrador_retriever    104
golden_retriever       92
Cardigan               73
Chihuahua              44
Pomeranian             42
                     ...
bucket                  1
breakwater              1
seashore                1
sandbar                 1
cliff                   1
Name: p2, Length: 405, dtype: int64

In [37]:
images['p2_conf'].value_counts()

0.069362    3
0.027907    2
0.193654    2
0.271929    2
0.003143    2
           ..
0.138331    1
0.254884    1
0.090644    1
0.219323    1
0.016301    1
Name: p2_conf, Length: 2004, dtype: int64

In [38]:
images['p2_dog'].value_counts()

True     1553
False     522
Name: p2_dog, dtype: int64

In [39]:
images['p3'].value_counts()

Labrador_retriever      79
Chihuahua               58
golden_retriever        48
Eskimo_dog              38
kelpie                  35
                        ..
balance_beam             1
entertainment_center     1
restaurant               1
cheetah                  1
green_lizard             1
Name: p3, Length: 408, dtype: int64

In [40]:
images['p3_conf'].value_counts()

0.094759    2
0.035711    2
0.000428    2
0.044660    2
0.162084    2
           ..
0.024007    1
0.132820    1
0.002099    1
0.083643    1
0.033835    1
Name: p3_conf, Length: 2006, dtype: int64

In [41]:
images['p3_dog'].value_counts()

True     1499
False     576
Name: p3_dog, dtype: int64

# Data Cleaning

In [42]:
# Make copies of the dataframes for cleaning

twitter1_clean = df_tweet.copy()
twitter2_clean = df_new.copy()
images_clean = images.copy()

NameError: name 'df_new' is not defined

Twitter2 and images data must combined with twitter1 data as they contain information about the same tweet, therefore merging these 3 dataframes

In [43]:
'''
Merging twitter1, twitter2, and images dataframes with 'tweet_id''''
dfs = [twitter1_clean, twitter2_clean, images_clean]
twitter = reduce(lambda left,right: pd.merge(left,right,on='tweet_id'), dfs)

SyntaxError: EOL while scanning string literal (<ipython-input-43-83242d0ba60c>, line 2)

In [44]:
twitter.head(2)

NameError: name 'twitter' is not defined

In [45]:
twitter.info()

NameError: name 'twitter' is not defined

### Find another issue i.e. 1 variable (dog stage) in 4 different columns (doggo, floofer, pupper, and puppo), to solve this issue extracting the dog stages from the 'text' column into the new 'dog_stage' column using regular expression then droping the 'doggo', 'floofer', 'pupper', and 'puppo' columns.  This also takes care of the quality issue of "name has values that are the string "None" instead of NaN".

In [46]:
twitter['dog_stage'] = twitter['text'].str.extract('(doggo|floofer|pupper|puppo)')

NameError: name 'twitter' is not defined

In [47]:
twitter[['dog_stage','doggo', 'floofer', 'pupper', 'puppo']].head(15)

NameError: name 'twitter' is not defined

In [48]:
twitter = twitter.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1) #Dropping the columns

NameError: name 'twitter' is not defined

In [49]:
twitter.info()

NameError: name 'twitter' is not defined

### Next issue needs to be readdressed is that data contains retweets. To solve this issue Rows where 'retweeted_status_id' is a NaN will be kept (ie. if it has a value it will be removed), then the 'retweeted_status_id', 'retweeted_status_user_id' and 'retweeted_status_timestamp' columns will be removed.

In [50]:
twitter = twitter[np.isnan(twitter.retweeted_status_id)]

print(twitter.info())

twitter = twitter.drop(['retweeted_status_id', 
                        'retweeted_status_user_id', 
                        'retweeted_status_timestamp'], 
                       axis=1)

NameError: name 'twitter' is not defined

In [51]:
twitter.info()

NameError: name 'twitter' is not defined

In [52]:
# casting tweet_id into string type
twitter['tweet_id'] = twitter['tweet_id'].astype(str)

NameError: name 'twitter' is not defined

In [53]:
twitter.info()

NameError: name 'twitter' is not defined

### 'timestamp' and 'retweeted_status_timestamp' are currently of type 'object' therefore Converting 'timestamp' to a datetime object ('retweeted_status_timestamp' was deleted)

In [54]:
twitter['timestamp'] = twitter['timestamp'].str.slice(start=0, stop=-6)

NameError: name 'twitter' is not defined

In [55]:
twitter['timestamp'] = pd.to_datetime(twitter['timestamp'], format = "%Y-%m-%d %H:%M:%S")

NameError: name 'twitter' is not defined

In [56]:
twitter.info()

NameError: name 'twitter' is not defined

### Here I found several issues
- 1. name has values that are the string "None" instead of NaN
- 2. Looking programmatically, some names are inaccurate such as "a", "an", "the", "very", "by", etc.  Looking visually in Excel, I was able to find more names that are inaccurate including "actually", "quite", "unacceptable", "mad", "not" and "old.  It seems like the method used to extract the names was using the word the followed "This is..." and "Here is..." which leads to some inaccuracies. 
- 3. I also found an instand of a name being "O" instead of "O'Malley"

In [57]:
'''Replacing all inaccurate names with NaNs, and the "O" with "O'Malley".Find all names that start with a lowercase letter'''
lowercase_names = []
for row in twitter['name']:
    if row[0].islower() and row not in lowercase_names:
        lowercase_names.append(row)
print(lowercase_names)

NameError: name 'twitter' is not defined

In [58]:
twitter['name'].replace(lowercase_names, 
                        np.nan,
                       inplace = True)

twitter['name'].replace('None', 
                        np.nan,
                       inplace = True)

twitter['name'].replace('O', 
                        "O'Malley",
                       inplace = True)

NameError: name 'twitter' is not defined

In [59]:
twitter['name'].value_counts()

NameError: name 'twitter' is not defined

### Find 1 more issue i.e.  Some ratings with decimals such as 13.5/10, 9.5/10 have been incorrectly exported as 5/10 (in addition to other numbers with decimals such as 11.26 and 11.27). therefore Finding all instances of ratings that contained decimals and replace the numerator values with the correct values.

In [60]:
'''
Obtain all text, indices, and ratings for tweets that contain a decimal in the numerator of rating
'''
ratings_with_decimals_text = []
ratings_with_decimals_index = []
ratings_with_decimals = []

for i, text in twitter['text'].iteritems():
    if bool(re.search('\d+\.\d+\/\d+', text)):
        ratings_with_decimals_text.append(text)
        ratings_with_decimals_index.append(i)
        ratings_with_decimals.append(re.search('\d+\.\d+', text).group())

# Print the text to confirm presence of ratings with decimals        
ratings_with_decimals_text

NameError: name 'twitter' is not defined

In [61]:
# Printing indexs of text with decimal ratings
ratings_with_decimals_index

[]

In [62]:
twitter.loc[ratings_with_decimals_index[0],'rating_numerator'] = float(ratings_with_decimals[0])
twitter.loc[ratings_with_decimals_index[1],'rating_numerator'] = float(ratings_with_decimals[1])
twitter.loc[ratings_with_decimals_index[2],'rating_numerator'] = float(ratings_with_decimals[2])
twitter.loc[ratings_with_decimals_index[3],'rating_numerator'] = float(ratings_with_decimals[3])

IndexError: list index out of range

In [63]:
twitter.loc[40] # Check contents of row with index 40 to ensure the rating is corrected

NameError: name 'twitter' is not defined

### For future analysis it could be confusing to interpret unstandardized ratings.  It is their gimmick to give dogs a rating of 100% but not all are above 100% so it could be interesting to see what percentage are below or above 100 and how this has been changed overtime by calculating a single value for rating, to solve this issue calulating the value of the numerator divided by the denominator and save this in a new column called 'rating'.

In [64]:
twitter['rating'] = twitter['rating_numerator'] / twitter['rating_denominator']

NameError: name 'twitter' is not defined

In [65]:
# Checking the presence of column and calculation
twitter.head(1)

NameError: name 'twitter' is not defined

There are many columns in this dataframe making it hard to read, and some will not be needed for analysis.  In addition some of the text in the table output is cut off.
<br>**Solution**: Drop undesired columns and change table display settings.

In [66]:
# Viewing all columns name
twitter.columns

NameError: name 'twitter' is not defined

In [67]:
twitter.rename(columns={'rating_numerator': 'numerator', 
                        'rating_denominator': 'denominator'}, inplace=True) #Shortning column names

'''
Droping unwanted columns
'''
twitter.drop(['in_reply_to_status_id', 
              'in_reply_to_user_id',
              'source',
              'img_num'], axis=1, inplace=True)

pd.set_option('display.max_columns', None)

NameError: name 'twitter' is not defined

In [68]:
#Confirming changes
twitter.head(1)

NameError: name 'twitter' is not defined

In [69]:
# Storing dataframe to a new file.
twitter.to_csv('twitter_archive_master.csv')

NameError: name 'twitter' is not defined

## Visualization

In [70]:
sns.lmplot(x="retweet_count", 
           y="favorite_count", 
           data=twitter,
           size = 5,
           aspect=1.3,
           scatter_kws={'alpha':1/5})
plt.title('Favorite Tweets vs. Retweet Count')
plt.xlabel('Retweet Count')
plt.ylabel('Favorite Count');

NameError: name 'twitter' is not defined

Graphs shows a strong positive correlation between Favorite and retweet counts.

In [71]:
twitter.groupby('timestamp')['rating'].mean().plot(kind='line')
plt.title('Rating over Time')
plt.xlabel('Time')
plt.ylabel('Standardized Rating')
plt.show;

NameError: name 'twitter' is not defined

### There are 3 outliers with a rating over 2

In [72]:
twitter.loc[twitter['rating'] > 2]

NameError: name 'twitter' is not defined

An inaccurate finding (rating of 24/7) found here at the first instance. I decided to leave this unfixed as we can easily ignore this. The other 2 tweets are accurate ratings i.e jokes. Thus I am interestedto find that if the tweets with a standardized rating below than 1, decrease over time or not, therefore I'm limiting the y axis from 0 to 2.

In [73]:
"""
Plotting standardized ratings over time with ylim of 0-2 to find accurate answers
"""

twitter.groupby('timestamp')['rating'].mean().plot(kind='line')
plt.ylim(0, 2)
plt.title('Rating over Time')
plt.xlabel('Time')
plt.ylabel('Standardized Rating')
plt.show;

NameError: name 'twitter' is not defined