# Wrangling and Analysis project
> Authored by: **Abhishek Pandey** [LinkedIn](https://www.linkedin.com/in/abhishekpandeyit/) | [Twitter](https://twitter.com/PandeyJii_)

## Introduction
> This project is contains the wrangling and analysis  or Archived chats of [Twitter](https://twitter.com/PandeyJii_).

### Gathering Data
> 1. **Twitter archive file:** Loading this [file](twitter_archive_enhanced.csv) into our dataframe using pandas
>
>2. **The tweet image predictions:** This find contains informations such as which breed of dog (or other object, animal, etc.) is present in each tweet. This file was provide at [Udacity](https://www.udacity.com), and as mentioned in the rubrics I downloaded this file using **Requests library**
>
>3. **Twitter API & JSON:** Using the tweet IDs in the Twitter archive, querying the Twitter API for each tweet is done by creating a developer account at Twitter and using some secret keys. Then read this file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count. 
>
### This template to gather data from Twitter API is provided by [Udacity](www.Udacity.com). I am just using that template as mentioned in the Udacity workspace using my secret token and access tokens.

In [ ]:
# Importing all required libraries
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
%matplotlib inline
import re
import requests #For gathering data from website
import seaborn as sns
from datetime import datetime
from functools import reduce
import tweepy

In [ ]:
df_tweet = pd.read_csv('F:/Github_repo/Wrangle_Analyse_Dataset/twitter-archive-enhanced-2.csv')

In [ ]:
df_tweet.sort_values('timestamp')
df_tweet.head(1)

In [ ]:
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)
with open('image_predictions.tsv', mode ='wb') as file:
    file.write(response.content)

In [ ]:
images = pd.read_csv('F:/Github_repo/Wrangle_Analyse_Dataset/image_predictions.tsv', sep = '\t')

In [ ]:
consumer_key = '0Z0ZK59KSOUWYr1X7qIRY9NHx'
consumer_secret = 'QxaSSKis3VdPIrIjdGhuGEa3DYO0i3LbyTuOwixWcA3cFScgqC'
access_token = '1257973204804612097-SFMNLhInnBpMfX3lUva4jNLTUp5PoS'
access_secret = 'aeSo4r2jwuE6yKbwpnVH0XzUvgwdl9e7ZBheiowEIsqus'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [ ]:
tweet_ids = list(df_tweet['tweet_id'])

tweet_data = []
tweet_id_success = []
tweet_id_missing = []
for tweet_id in tweet_ids:
    try:
        data = api.get_status(tweet_id, 
                              tweet_mode='extended',
                              wait_on_rate_limit = True,
                              wait_on_rate_limit_notify = True)
        tweet_data.append(data)
        tweet_id_success.append(tweet_id)
    except:
        tweet_id_missing.append(tweet_id)
        print(tweet_id)

In [ ]:
print(f"Total Tweets = {len(tweet_data)} and Success Ids={len(tweet_id_success)} / Missing Ids={len(tweet_id_missing)}")

In [ ]:
#Then in this code block we isolate the json part of each tweepy 
#status object that we have downloaded and we add them all into a list

my_list_of_dicts = []
for each_json_tweet in list_of_tweets:
    my_list_of_dicts.append(each_json_tweet)

In [ ]:
#identify information of interest from JSON dictionaries in txt file
#and put it in a dataframe called tweet JSON
my_demo_list = []
with open('tweet-json.txt', encoding='utf-8') as json_file:  
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        whole_tweet = each_dictionary['text']
        only_url = whole_tweet[whole_tweet.find('https'):]
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        followers_count = each_dictionary['user']['followers_count']
        friends_count = each_dictionary['user']['friends_count']
        whole_source = each_dictionary['source']
        only_device = whole_source[whole_source.find('rel="nofollow">') + 15:-4]
        source = only_device
        retweeted_status = each_dictionary['retweeted_status'] = each_dictionary.get('retweeted_status', 'Original tweet')
        if retweeted_status == 'Original tweet':
            url = only_url
        else:
            retweeted_status = 'This is a retweet'
            url = 'This is a retweet'

        my_demo_list.append({'tweet_id': str(tweet_id),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'followers_count': int(followers_count),
                             'friends_count': int(friends_count),
                             'url': url,
                             'source': source,
                             'retweeted_status': retweeted_status,
                            })
        tweet_json = pd.DataFrame(my_demo_list, columns = ['tweet_id', 'favorite_count','retweet_count', 
                                                           'followers_count', 'friends_count','source', 
                                                           'retweeted_status', 'url'])

In [ ]:
# Loading Twitter API data
df_new = pd.read_json('F:\\Github_repo\\Wrangle_Analyse_Dataset\\tweet-json.txt', encoding = 'utf-8', lines=True)

In [ ]:
df_tweet.sample(3)

In [ ]:
df_tweet.info()

In [ ]:
df_tweet['source'].value_counts()

In [ ]:
df_tweet['text'].value_counts()

In [ ]:
df_tweet['retweeted_status_id'].value_counts()

In [ ]:
df_tweet['retweeted_status_user_id'].value_counts()

In [ ]:
df_tweet['retweeted_status_timestamp'].value_counts()

In [ ]:
df_tweet['expanded_urls'].value_counts()

In [ ]:
df_tweet['rating_numerator'].value_counts()

In [ ]:
df_tweet['rating_denominator'].value_counts()

In [ ]:
df_tweet['name'].value_counts()

In [ ]:
df_tweet['doggo'].value_counts()

In [ ]:
df_tweet['floofer'].value_counts()

In [ ]:
df_tweet['pupper'].value_counts()

In [ ]:
df_tweet['puppo'].value_counts()

In [ ]:
df_tweet.loc[df_tweet['name'].str.isupper()]

In [ ]:
df_new.sample(10)

In [ ]:
df_new.info()

In [ ]:
df_new['tweet_id'].value_counts()

In [ ]:
df_new['favorite_count'].value_counts()

In [ ]:
df_new['retweet_count'].value_counts()

In [ ]:
images.sample(2)

In [ ]:
images.info()

In [ ]:
images['tweet_id'].value_counts()

In [ ]:
images['jpg_url'].value_counts()

In [ ]:
images['img_num'].value_counts()

In [ ]:
images['p1'].value_counts()

In [ ]:
images['p1_conf'].value_counts()

In [ ]:
images['p1_dog'].value_counts()

In [ ]:
images['p2'].value_counts()

In [ ]:
images['p2_conf'].value_counts()

In [ ]:
images['p2_dog'].value_counts()

In [ ]:
images['p3'].value_counts()

In [ ]:
images['p3_conf'].value_counts()

In [ ]:
images['p3_dog'].value_counts()

# Data Cleaning

In [ ]:
# Make copies of the dataframes for cleaning

twitter1_clean = df_tweet.copy()
twitter2_clean = df_new.copy()
images_clean = images.copy()

Twitter2 and images data must combined with twitter1 data as they contain information about the same tweet, therefore merging these 3 dataframes

In [ ]:
'''
Merging twitter1, twitter2, and images dataframes with 'tweet_id''''
dfs = [twitter1_clean, twitter2_clean, images_clean]
twitter = reduce(lambda left,right: pd.merge(left,right,on='tweet_id'), dfs)

In [ ]:
twitter.head(2)

In [ ]:
twitter.info()

### Find another issue i.e. 1 variable (dog stage) in 4 different columns (doggo, floofer, pupper, and puppo), to solve this issue extracting the dog stages from the 'text' column into the new 'dog_stage' column using regular expression then droping the 'doggo', 'floofer', 'pupper', and 'puppo' columns.  This also takes care of the quality issue of "name has values that are the string "None" instead of NaN".

In [ ]:
twitter['dog_stage'] = twitter['text'].str.extract('(doggo|floofer|pupper|puppo)')

In [ ]:
twitter[['dog_stage','doggo', 'floofer', 'pupper', 'puppo']].head(15)

In [ ]:
twitter = twitter.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1) #Dropping the columns

In [ ]:
twitter.info()

### Next issue needs to be readdressed is that data contains retweets. To solve this issue Rows where 'retweeted_status_id' is a NaN will be kept (ie. if it has a value it will be removed), then the 'retweeted_status_id', 'retweeted_status_user_id' and 'retweeted_status_timestamp' columns will be removed.

In [ ]:
twitter = twitter[np.isnan(twitter.retweeted_status_id)]

print(twitter.info())

twitter = twitter.drop(['retweeted_status_id', 
                        'retweeted_status_user_id', 
                        'retweeted_status_timestamp'], 
                       axis=1)

In [ ]:
twitter.info()

In [ ]:
# casting tweet_id into string type
twitter['tweet_id'] = twitter['tweet_id'].astype(str)

In [ ]:
twitter.info()

### 'timestamp' and 'retweeted_status_timestamp' are currently of type 'object' therefore Converting 'timestamp' to a datetime object ('retweeted_status_timestamp' was deleted)

In [ ]:
twitter['timestamp'] = twitter['timestamp'].str.slice(start=0, stop=-6)

In [ ]:
twitter['timestamp'] = pd.to_datetime(twitter['timestamp'], format = "%Y-%m-%d %H:%M:%S")

In [ ]:
twitter.info()

### Here I found several issues
- 1. name has values that are the string "None" instead of NaN
- 2. Looking programmatically, some names are inaccurate such as "a", "an", "the", "very", "by", etc.  Looking visually in Excel, I was able to find more names that are inaccurate including "actually", "quite", "unacceptable", "mad", "not" and "old.  It seems like the method used to extract the names was using the word the followed "This is..." and "Here is..." which leads to some inaccuracies. 
- 3. I also found an instand of a name being "O" instead of "O'Malley"

In [ ]:
'''Replacing all inaccurate names with NaNs, and the "O" with "O'Malley".Find all names that start with a lowercase letter'''
lowercase_names = []
for row in twitter['name']:
    if row[0].islower() and row not in lowercase_names:
        lowercase_names.append(row)
print(lowercase_names)

In [ ]:
twitter['name'].replace(lowercase_names, 
                        np.nan,
                       inplace = True)

twitter['name'].replace('None', 
                        np.nan,
                       inplace = True)

twitter['name'].replace('O', 
                        "O'Malley",
                       inplace = True)

In [ ]:
twitter['name'].value_counts()

### Find 1 more issue i.e.  Some ratings with decimals such as 13.5/10, 9.5/10 have been incorrectly exported as 5/10 (in addition to other numbers with decimals such as 11.26 and 11.27). therefore Finding all instances of ratings that contained decimals and replace the numerator values with the correct values.

In [ ]:
'''
Obtain all text, indices, and ratings for tweets that contain a decimal in the numerator of rating
'''
ratings_with_decimals_text = []
ratings_with_decimals_index = []
ratings_with_decimals = []

for i, text in twitter['text'].iteritems():
    if bool(re.search('\d+\.\d+\/\d+', text)):
        ratings_with_decimals_text.append(text)
        ratings_with_decimals_index.append(i)
        ratings_with_decimals.append(re.search('\d+\.\d+', text).group())

# Print the text to confirm presence of ratings with decimals        
ratings_with_decimals_text

In [ ]:
# Printing indexs of text with decimal ratings
ratings_with_decimals_index

In [ ]:
twitter.loc[ratings_with_decimals_index[0],'rating_numerator'] = float(ratings_with_decimals[0])
twitter.loc[ratings_with_decimals_index[1],'rating_numerator'] = float(ratings_with_decimals[1])
twitter.loc[ratings_with_decimals_index[2],'rating_numerator'] = float(ratings_with_decimals[2])
twitter.loc[ratings_with_decimals_index[3],'rating_numerator'] = float(ratings_with_decimals[3])

In [ ]:
twitter.loc[40] # Check contents of row with index 40 to ensure the rating is corrected

### For future analysis it could be confusing to interpret unstandardized ratings.  It is their gimmick to give dogs a rating of 100% but not all are above 100% so it could be interesting to see what percentage are below or above 100 and how this has been changed overtime by calculating a single value for rating, to solve this issue calulating the value of the numerator divided by the denominator and save this in a new column called 'rating'.

In [ ]:
twitter['rating'] = twitter['rating_numerator'] / twitter['rating_denominator']

In [ ]:
# Checking the presence of column and calculation
twitter.head(1)

There are many columns in this dataframe making it hard to read, and some will not be needed for analysis.  In addition some of the text in the table output is cut off.
<br>**Solution**: Drop undesired columns and change table display settings.

In [ ]:
# Viewing all columns name
twitter.columns

In [ ]:
twitter.rename(columns={'rating_numerator': 'numerator', 
                        'rating_denominator': 'denominator'}, inplace=True) #Shortning column names

'''
Droping unwanted columns
'''
twitter.drop(['in_reply_to_status_id', 
              'in_reply_to_user_id',
              'source',
              'img_num'], axis=1, inplace=True)

pd.set_option('display.max_columns', None)

In [ ]:
#Confirming changes
twitter.head(1)

In [ ]:
# Storing dataframe to a new file.
twitter.to_csv('twitter_archive_master.csv')

## Visualization

In [ ]:
sns.lmplot(x="retweet_count", 
           y="favorite_count", 
           data=twitter,
           size = 5,
           aspect=1.3,
           scatter_kws={'alpha':1/5})
plt.title('Favorite Tweets vs. Retweet Count')
plt.xlabel('Retweet Count')
plt.ylabel('Favorite Count');

Graphs shows a strong positive correlation between Favorite and retweet counts.

In [ ]:
twitter.groupby('timestamp')['rating'].mean().plot(kind='line')
plt.title('Rating over Time')
plt.xlabel('Time')
plt.ylabel('Standardized Rating')
plt.show;

### There are 3 outliers with a rating over 2

In [ ]:
twitter.loc[twitter['rating'] > 2]

An inaccurate finding (rating of 24/7) found here at the first instance. I decided to leave this unfixed as we can easily ignore this. The other 2 tweets are accurate ratings i.e jokes. Thus I am interestedto find that if the tweets with a standardized rating below than 1, decrease over time or not, therefore I'm limiting the y axis from 0 to 2.

In [ ]:
"""
Plotting standardized ratings over time with ylim of 0-2 to find accurate answers
"""

twitter.groupby('timestamp')['rating'].mean().plot(kind='line')
plt.ylim(0, 2)
plt.title('Rating over Time')
plt.xlabel('Time')
plt.ylabel('Standardized Rating')
plt.show;